/* 全局样式 */

/* 改变主题色变量 */
//$--color-primary: #1C8A6E;
$--color-primary: #4768ed;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

$showZoom: calc(2 - var(--showZoom));

@import "~element-ui/packages/theme-chalk/src/index";

#mapContainer,
.echarts-zoom-fit {
  zoom: $showZoom;
}

.el-table .el-table__cell {
  padding: 0;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: #ffffff;
}

.el-icon-loading{
  font-size: 24px;
}
.el-loading-text{
  white-space: pre;
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px 30px;
  justify-content: center;

  img {
    width: 26px;
    margin-right: 10px;
  }

  span {
    line-height: 26px;
  }
}
